@import "./normalize.css";

.container {
  width: 95%;
  margin: auto;
  user-select: none;
  header {
    display: flex;
    justify-content: flex-end;
    nav {
      width: 50%;
      margin-right: 5%;
      //   border: 1px solid green;

      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        border-radius: 20%;
        background: skyblue;
        border: 1px solid green;

        li {
          margin: 2%;
          margin-right: 9%;
          display: flex;
          justify-content: space-around;
          align-content: center;
        }
      }
      a {
        text-decoration: none;
        color: black;
        background: #dac5e4;
        padding: 4% 8%;
        margin: 10%;
        border-radius: 20%;
        text-align: center;
        &:hover {
          transition: all ease-in-out 255ms;
          transform: scale(1.25);
          background: #bdbdaf;
        }
        &:active {
        }
        &:focus {
        }
        // &.grow {
        //   transition: all 250ms ease-in-out;
        //   &hover {
        //     transform: scale(1.25);
        //   }
      }
    }
  }
}
.top-sect {
  background-image: linear-gradient(
    217deg,
    rgb(78, 67, 77) 5%,
    rgb(121, 139, 77) 15%,
    rgb(218, 197, 228) 68%
  );
  z-index: -1;
  // border-top: ridge 2.2px rgb(70, 68, 68);
  border-bottom: ridge 2.2px rgb(70, 68, 68);

  display: flex;
  flex-direction: column;
  padding: 0.5%;
  img {
    height: 235px;
    width: 180px;
    margin: 5%;
    margin-bottom: 0.75%;
    margin-left: 13.5%;
    border-radius: 12%;
    border: 1px solid black;
  }
  h1 {
    margin-left: 2.5%;
    font-size: 2.3rem;
    margin-bottom: 1%;
    .dev {
      font-style: italic;
      text-decoration: none;
      margin-left: 0;
    }
  }
  span {
    width: 95%;
    margin-left: 4%;
    text-decoration: underline;
    font-style: italic;
  }
  .education {
    border-top: 1px solid black;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h3 {
      text-align: center;
      //   margin-right: 50%;
      text-emphasis: underline;
      margin-bottom: 0;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      li {
        margin: 1.7%;
        margin-left: 27%;
      }
    }
  }
}
.bottom-sect {
  .btm-top {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    .left {
      width: 46%;
      h3 {
        text-align: center;
      }
      p {
      }
    }
    .right {
      width: 46%;
      display: flex;
      flex-direction: column;
      h3 {
        text-align: center;
      }
      ul {
        //   list-style: none;
        //   border: 0.3px solid black;
        padding-left: 3%;
        margin: auto;

        li {
        }
      }
    }
  }
  .btm-btm {
    border-top: 1px dashed black;
    margin-top: 6%;
    padding-top: 5%;
    h2 {
      text-align: center;
    }
    table {
      width: 100%;
      border: 1.5px solid black;
    }
    thead {
      background: skyblue;

      th {
        border: 3px solid grey;
      }
    }
    tbody {
      tr {
      }
      td {
        text-align: center;
        border: 1px solid grey;
      }
    }
  }
}
footer {
  background: grey;
  margin-bottom: none;

  p {
    color: white;
    text-align: center;
    padding: 2%;
  }
}
